.petcontainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "stat pet";
    column-gap: 40px;
    row-gap: 40px;
}

.pet{
    grid-area: pet;
}
.stat{
    grid-area: stat;
}
body {
    background-image: url(/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}